.footer{
    border: 1px solid #F0E68C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 60vh;
    width: 100%;
    background-color: #F0E68C;
   
   margin-bottom: 0;
    color: #a5865c;
}

.socials a{
    margin: 10%;
    padding: 5px;
   
}
.socials{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3%;
    
    

}

   @media screen and (max-width: 800px) {

  .footer{
    border: 1px solid rgb(5, 5, 5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:3px;
    padding: 10px;
    height: 50vh;
    width: 100%;
  }
  
  
  }