.footer{
    border: 1px solid #F0E68C;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
   
    width: 100%;
    background-color: #F0E68C;
   
  

}
.emailForm{
    display: flex;
    flex-direction: column;
    width: 30%;
    color: black;
}
.emailForm button{
    outline: 2px solid #A09F9D;
}
.emailForm div{
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  
}
.footer-div{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items:flex-start;
    justify-content: flex-start;
    text-align: left;
}

.footer-div p{
    cursor: pointer;
}
.footer p{color: #A09F9D;}
.socials a{
    margin: 10%;
    padding: 5px;
   
}
.socials{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3%;
    
    

}

   @media screen and (max-width: 800px) {

  .footer{
   
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 100%;
  }
  .footer-div{
    
    width: 100%;
   
   
}
.emailForm{
   
    width: 100%;
}

  
  }