.uniform-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 50%;

 margin: 3% 0;
 padding: 1% 2%;
}

.uniform-form label {
  font-weight: bold;
  margin-top: 1rem;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 3%;
 
}

.uniform-form input,select {
  width:50%;
  margin: 2%;
 
  

}

.uniform-form input[type="file"] {
  border: none;

}

.uniform-form button {
  margin-top: 1.5rem;

 

}


.uniform-form img{

width: 80%;

}


.confirm {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  
  padding: 2rem;
  
 height: 100vh;
  margin: 10;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

  border-radius: 8px;
  
}
.row1{
  width: 40%;
  max-width: 40vw;
  max-height: 60vh;
  height: 80%;
  margin: 5%;
  border: 2px solid black;

}
.row2{
  width: 40%;
  height: 80%;
  display:flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.row2buttons{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
}
.row2 ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
  
  padding: 2rem;
  list-style-type: none;
  margin: 10;
  
}

.confirm ul li {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

.radioGroup{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  width: 100%;
  padding: 2.5rem 0;
}

.confirm div button{
margin: 4%;
}

.row1 img{
margin: 5%;
width: 100%;
height: 100%;
}
.loader {
border: 16px solid #f3f3f3;
border-radius: 50%;
border-top: 16px solid #F0E68C;
width: 120px;
height: 120px;
animation: spin 2s linear infinite;
position: fixed;
top: 40%;
left: 45%;
}
.select{
display: flex;
flex-direction: row;
justify-content: space-between;
margin-top: 3%;
margin-bottom: 3%;
width: 100%;

}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

#image-input{
display: flex;
flex-direction: row;
justify-content: center;
}
#color{
width: 10%;
padding: 2%;
height: 10vh;
border: none;
}

@media screen and (max-width: 800px) {
.uniform-form {
  width: 90%;

 
}

.confirm {
display: flex;
flex-direction:column;
width: 90%;
padding: 2rem;
margin-left: 5%;




}


.row1{
  width: 90%;
  max-width: 90vw;
  height: 40%;
  max-height: 40vh;
  margin: 5%;
  margin-top: 0;
}
.row2{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.row2 ul{
  display:flex;
  flex-direction: column;
  width: 90%;

}

.row2 ul li p{
  font-size: 0.8rem;
}
.row2 div{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
}

.confirm ul li {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}


.confirm div button{
margin: 4%;
}

.row1 img{
margin: 2%;
width: 90%;
height: 90%;
}


}