.image-preview{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 50%;
    margin: 5%;
}

.image-preview img{
    width:400px;
   
    height: 90%;
    object-fit: contain;

}
.buttonGroup{
    width:400px;
    height: 10%;
}
.buttonGroup button{
    height: 100%;
    width: 50%;
    border-radius: 0;
   
    
}
@media screen and (max-width: 800px) {
    .image-preview img{
        width:350px;
       
    
    
    }
    .buttonGroup{
        width:350px;
        
    }
}


