ul{
    list-style-type:none;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: centre;

}
ul li:first-child{
    position: absolute;
    left: 50;
    top: 50;
    opacity: 20;
}
ul li:nth-child(2){
    position: absolute;
    left: 55;
    top: 55;
    opacity: 15;
}
ul li:nth-child(3){
    position: absolute;
    left: 60;
    top: 60;
    opacity: 10;
}
ul li:nth-child(4){
    position: absolute;
    left: 60;
    top: 60;
    opacity: 5;
}