.shop-display {
  list-style-type: none;
  display:grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 5%;
  width:100%;
  padding-bottom: 3%;
}

.shopItem {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  line-height: 0.1rem;
  width: 100%;
  cursor: pointer;
}
strong{
  color: black;
  
}
span{
 
  color: rgb(71, 71, 71);
}
.shopItem:first-child {
  /* Existing styles */
  grid-row-start: 1;  /* Starts from the first row */
  grid-column-start: 1;  /* Starts from the first column */
}

.shopItem button:hover {
  color: #A09F9D;
  
}

.shopItem img {
  align-self: flex-start;
  width: 100%;
  max-width: 100%;
  height: 60%;
  max-height: 60%;
  
}
.preview{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 50%;
  

}

#preview-img{
  width: 50%;
  height: 100%;
  
  
}

#data-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 40%;
  height: 50%;
}
.previiewButtons{
  width: 100%;
}
.previiewButtons button{
  width: 50%;
  margin: 0;
  
}
.closePreview{
  border-top-right-radius:0 ;
  border-bottom-right-radius: 0;
}
.cartButton{
  border-top-left-radius:0 ;
  border-bottom-left-radius: 0;
}



@media screen and (max-width: 800px) {

.shop-display {
 
 grid-template-columns: 1fr 1fr;
 
width: 95%;
  margin-bottom: 3rem;
  padding-bottom:12rem;
  margin-left: 0;
  padding-left: 0;
 
}
.shopItem img {
  align-self: flex-start;
 
  height: 70%;
  max-height: 70%;
  
}

.preview{
 
  flex-direction: column;

  width: 100%;
  margin-bottom: 3%;
  

}
.preview button{
  margin: auto auto;
}

#preview-img{
  width: 100%;
 
 
}

.previiewButtons{
  position: fixed;
  bottom: 0;
  z-index: 6;

 
}

.closePreview{
  background-color: #A09F9D;
  border-bottom-left-radius: 0;
  border-top-left-radius: 10px;
  padding: 1rem 0;
}
.cartButton{
  padding: 1rem 0;
  
  border-bottom-right-radius: 0;
  border-top-right-radius: 10px;
  background-color: lemonchiffon;
}



#data-div{
  
  width: 100%;
  
 
}
#data-div p{
 
 padding: 0 4.5%;
}
}